*{
	margin: 0 auto;
	padding: 0;
}
body{
	font-family: "MILT_RG";
	font-size: 14px;
	color: #000;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.clear{
	clear: both; 
}
img{
	border: none;
}
/*header*/
#header{
	height: 49px;
	line-height: 49px;
	background: #000;
}
#head_left{
	height: 49px;
	float: left;
	padding: 0 0 0 50px;
}
#head_left img{
	margin-top: 18px;
}
#head_right{
	float: right;
	padding-right: 50px;
}
#head_right ul li{
	display: inline;
	padding:0 16px;
}
#head_right ul li a{
	color: #ddd;
}
#head_right ul li a:hover{
	color: #868686;
}
/*con_1*/
#con_1{
	height: 796px;
	background: #eee url(../images/miui7.5-001.jpg)  center center  no-repeat;
	text-align: center;
	overflow: hidden;
}
#con_1_m{
	position: relative;
	top: 200px;
}
#con_1_m a{
	display: block;
	width: 154px;
	height: 36px;
	color: #636363;
	border: 1px solid #828282;
	border-radius: 20px;
	margin: 35px auto;
	line-height: 36px;
}
#con_1_m a:hover{
	background-color: #000;
	color: #fff;
}
#con_1_m p{
	font-size: 18px;
	color: #878787;
	line-height: 30px;
}
/*con_2*/
#con_2{
	height: 1280px;
	background: url(../images/miui7.5-031.jpg) no-repeat center center;
	text-align: center;
	overflow: hidden;
}
#con_2_m{
	margin-top: 80px;
}
#con_2_m h2{
	font-size: 36px;
	font-weight: 100;
	line-height: 90px;
}
#con_2_m p{
	color: #9e9d9b;
	font-size: 18px;
	line-height: 30px;
}
/*con_3*/
#con_3{
	height: 1600px;
	padding-top: 110px;
	text-align: center;
}
#con_3 h2{
	color: #585858;
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 30px;

}
#con_3 p{
	color: #8d8d8d;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}
#con_3 p.zs{
	color: #b8b8b8;
	font-size: 16px;
	margin-top: 25px;
}
#con_3_sj{
	margin: 0 auto;
	margin-top: 35px;
	width: 1240px;
	height: 800px;
	background: url(../images/miui7.5-002.jpg) center center no-repeat;
	overflow: hidden;
}
#con_3_sj ul{
	margin-top: 760px;
}
#con_3_sj ul li{
	display: inline;
	font-size: 18px;
	color: #8d8d8d;
	line-height: 30px;
}
.sj_1{
	position: relative;
	right: 265px;
}
.sj_2{
	position: relative;
	left: 20px;
}
.sj_3{
	position: relative;
	left: 290px;
}
#con_3 h4{
	color: #585858;
	font-size: 22px;
	line-height: 30px;
	font-weight: 100;
	margin-top: 40px;
}
#con_3_gj{
	width: 1125px;
	height: 320px;
	margin: 0 auto;
	margin-top: 30px;
	background: url(../images/miui7.5-004.jpg) no-repeat;
	overflow: hidden;
}
#con_3_gj ul{
	margin-top: 295px;
}
#con_3_gj ul li{
	display: inline;
	font-size: 18px;
	color: #8d8d8d;
	line-height: 30px;
	padding: 0 234px;
}
/*con_4*/
#con_4{
	height: 751px;
	text-align: center;
	overflow: hidden;
}
#con_4 h2{
	color: #585858;
	font-size: 36px;
	font-weight: 100;
	margin-top: 30px;
}
#con_4 p{
	margin-top: 20px;
	font-size: 16px;
	line-height: 30px;
	color: #8d8d8d;
	letter-spacing: 2px;
}
#con_4_img{
	margin-top: 80px;
	width: 1090px;
	height: 546px;
	background: url(../images/miui7.5-005.jpg) no-repeat center center;
	overflow: hidden;
}
/*con_5*/
#con_5{
	width: 1095px;
	height: 1000px;
	margin-top: 40px;
	overflow: hidden;
	text-align: center;
}
#con_5 h2{
	color: #585858;
	font-size: 36px;
	font-weight: 100;
	margin-top: 30px;
}
#con_5 p{
	margin-top: 20px;
	font-size: 16px;
	color: #8d8d8d;
	letter-spacing: 2px;
}
#con_5_sj{
	width: 1095px;
	height: 980px;
	background: url(../images/miui7.5-006.jpg) no-repeat center center;
}
/*con_6*/
#con_6{
	height: 900px;
	padding-top: 110px;
	text-align: center;
}
#con_6 h2{
	color: #585858;
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 30px;
}
#con_6 p{
	color: #585858;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}
#con_6 p.zs{
	color: #b8b8b8;
	font-size: 16px;
	margin-top: 25px;
}
#con_6_sj{
	margin: 0 auto;
	margin-top: 35px;
	width: 1240px;
	height: 800px;
	background: url(../images/miui7.5-007.jpg) center center no-repeat;
	overflow: hidden;
}
/*con_7*/
#con_7{
	height: 830px;
	padding-top: 110px;
	text-align: center;
}
#con_7 h2{
	color: #585858;
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 30px;
}
#con_7 p{
	color: #8d8d8d;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}
#con_7_sj{
	margin: 0 auto;
	margin-top: 35px;
	width: 1240px;
	height: 800px;
	background: url(../images/miui7.5-050.jpg) center center no-repeat;
	overflow: hidden;
}
/*con_8*/
#con_8{
	height: 850px;
	padding-top: 110px;
	text-align: center;
}
#con_8 h2{
	color: #585858;
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 30px;
}
#con_8 p{
	color: #8d8d8d;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}
#con_8_sj{
	margin: 0 auto;
	margin-top: 35px;
	width: 1240px;
	height: 800px;
	background: url(../images/miui7.5-008.jpg) center center no-repeat;
	overflow: hidden;
}
/*con_9*/
#con_9{
	height: 1100px;
	padding-top: 110px;
	text-align: center;
}
#con-9 h2{
	color: #585858;
	font-size: 36px;
	font-weight: 100;
	margin-bottom: 30px;
}
#con_9 p{
	color: #585858;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}
#con_9 p.zs{
	color: #b8b8b8;
	font-size: 16px;
	margin-top: 25px;
}
#con_9_sj{
	margin:0 auto;
	margin-top: 35px;
	width: 1240px;
	height: 800px;
	background: url(../images/miui7.5-009.jpg) center center no-repeat;
	overflow: hidden;
}
/*footer*/
#footer{
	height: 160px;
	background: #f2f2f2;
	text-align: center;
	overflow: hidden;
}
#footer ul{
	margin-top: 50px;
}
#footer ul li{
	display: inline;
	color: #d9d9d9;
	padding-left: 23px;
}
#footer ul li a{
	padding-right: 27px;
	color: #858585;
}
#footer ul li a:hover{
	color: #dddddd;
}
#footer p{
	font-size: 12px;
	line-height: 30px;
	color: #c5c6c8;
} 